@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 9% 91%;
    --foreground: 231 22% 18%;
    --card: 228 9% 95%;
    --card-foreground: 231 22% 18%;
    --popover: 228 9% 95%;
    --popover-foreground: 231 22% 18%;
    --primary: 231 22% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 228 9% 88%;
    --secondary-foreground: 231 22% 23%;
    --muted: 228 9% 85%;
    --muted-foreground: 231 22% 35%;
    --accent: 203 31% 60%;
    --accent-foreground: 231 22% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 9% 85%;
    --input: 228 9% 85%;
    --ring: 203 31% 60%;
    --chart-1: 231 22% 23%;
    --chart-2: 203 31% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 231 22% 10%;
    --foreground: 0 0% 98%;
    --card: 231 22% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 231 22% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 231 22% 10%;
    --secondary: 231 22% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 22% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 203 31% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 22% 18%;
    --input: 231 22% 18%;
    --ring: 203 31% 50%;
    --chart-1: 0 0% 98%;
    --chart-2: 203 31% 60%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
